* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    margin-top: 20px;
    border: #2E3244;
    background-color: #F1895C;
    padding: 10px 30px;
    border-radius: 3px;
    color:#2E3244; 
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2E3244;
    color: white;
    padding: 25px 60px;
    margin-bottom: 20px;
}

.navTxt {
    font-size: 40px;
    color: white;
    text-decoration: none;
    

}


cart {
    position: relative;
    background: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;

}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: #F1895C;
    color: white;
    padding: 4px;
    border-radius: 4px;

}

@media screen and (max-width: 2000px) {
    .display {
        grid-template-columns: repeat(3, 400px);
    }
    .shopping-cart{
        grid-template-columns: repeat(3, 400px);
    }

}

@media screen and (max-width: 1300px) {
    .display {
        grid-template-columns: repeat(2, 400px);
    }
    .shopping-cart{
        grid-template-columns: repeat(2, 400px);
    }

}

@media screen and (max-width: 850px) {
    .display {
        grid-template-columns: repeat(1, 400px);
    }
    .shopping-cart{
        grid-template-columns: repeat(1, 400px);
    }

}

.display {
    display: grid;
    text-align: center;
    gap: 30px;
    justify-content: center;
}

.item-true {
    border: 2px solid #F1895C;
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 1%;

}

.item-false {
    
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 1%;

}

.makecenter {
    text-align: center;
    padding-bottom: 2%;
}

.homeBtn {
    background-color: #212529;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.shopping-cart {
    display: grid;
    justify-content: center;
    gap: 30px;
}

.cart-item-false {
    background-color: #e8e8e8;
    border: 2px solid #516079;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

.cart-item-true {
    background-color: #e8e8e8;
    border: 2px solid #F1895C;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}


.cart-item h2 {
    text-align: center;
}

.cart-item p {
    margin-bottom: 5px;
}

.bi-x-lg {
    background-color: #F1895C;
    color: #e8e8e8;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;

}

.export {
    justify-content: center;
}

p {
    margin-top: 20px;
    text-align: center;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
}

.adds-false:hover {
    background-color: #2E3244;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    font-size: larger;
    }

.adds-false:active {
    background-color: white;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    }

.adds-false {
   
    padding: 5px 7px;
    margin: 1%;
    background-color: #516079;
    color:  white;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    
    
}

.adds-true{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

table {
    border-collapse: collapse;
    width: 90%;
    align-items: right;
    margin : auto;
}

thead,
tbody {
    text-align: left;
    
}

thead {
    background-color: #516079;
    color: white;
}

th,
td {
    padding: 15px;
    border-bottom: 2px solid #ddd;
}
